<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New registration</title>
</head>
<body>
    <div class="container">
        <h1>New Registration</h1>
        <p>Your registration to <a href="{{ website_url }}" target="_blank">{{ website_url }}</a> needs to be validated!</p>
        <p>Your activation code is: "{{ validation_code }}</p>

        <p>Regards,<br>
        StatusPulse team</p>
    </div>
</body>
</html>